/* Editable */

$spinner-radius: .5em;
/* Probably shouldn't edit, but go crazy. */

$iteration-duration: 300ms;
$cycle-duration: 800ms;
$spinner-width: $spinner-radius * 4;
/* Sassery */

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
    width: $spinner-width;
}

.spinner,
.spinner div {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.spinner div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.spinner:before,
.spinner:after,
.spinner div:before,
.spinner div:after {
    -webkit-animation-duration: $cycle-duration;
    animation-duration: $cycle-duration;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    content: "";
    background: #001386;
    border-radius: 100%;
    width: $spinner-radius;
    height: $spinner-radius;
    position: absolute;
}

.spinner:before,
.spinner div:before {
    -webkit-animation-name: orbBounceBefore;
    animation-name: orbBounceBefore;
    top: -$spinner-radius *.5;
    left: -$spinner-radius *.5;
}

.spinner:after,
.spinner div:after {
    -webkit-animation-name: orbBounceAfter;
    animation-name: orbBounceAfter;
    top: -$spinner-radius *.5;
    right: -$spinner-radius *.5;
}

.spinner-a {
    -webkit-transform: rotate(60deg) translateY(0);
    transform: rotate(60deg) translateY(0);
}

.spinner-b {
    -webkit-transform: rotate(120deg) translateY(0);
    transform: rotate(120deg) translateY(0);
}

$delay-unit: $cycle-duration/6;
$startTime: 100% - percentage($iteration-duration/$cycle-duration);
$halfTime: 100% - percentage(($iteration-duration*.5)/$cycle-duration);
@-webkit-keyframes orbBounceBefore {
    #{$startTime} {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }
    #{$halfTime} {
        -webkit-animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes orbBounceBefore {
    #{$startTime} {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }
    #{$halfTime} {
        -webkit-animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes orbBounceAfter {
    #{$startTime} {
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    #{$halfTime} {
        -webkit-animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes orbBounceAfter {
    #{$startTime} {
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    #{$halfTime} {
        -webkit-animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        animation-timing-function: cubic-bezier(0, 1.11, .7, 1.43);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.spinner-a:before {
    -webkit-animation-delay: $delay-unit;
    animation-delay: $delay-unit;
}

.spinner-b:before {
    -webkit-animation-delay: $delay-unit * 2;
    animation-delay: $delay-unit * 2;
}

.spinner:after {
    -webkit-animation-delay: $delay-unit * 3;
    animation-delay: $delay-unit * 3;
}

.spinner-a:after {
    -webkit-animation-delay: $delay-unit * 4;
    animation-delay: $delay-unit * 4;
}

.spinner-b:after {
    -webkit-animation-delay: $delay-unit * 5;
    animation-delay: $delay-unit * 5;
}