* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-container {
    width: 100%;
    display: flex;
}

.app-content {
    flex: 1 0 auto;
}

.controls-bar {
    width: 90%;
    margin: auto;
    border-bottom: solid 2px black;
    margin-top: 10rem;
}

.header {
    width: 200px;
    height: 120px;
    background: coral;
    height: 100%;
    min-height: 100vh;
    padding: 1em;
}

nav {}

li {
    list-style: none;
    padding: 0.75em 0;
}