@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/ProximaNova-Regular.woff2') format('woff2'), url('fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ebedf6;
    color: #81859a;
    font-family: 'Proxima Nova Rg', helvetica, arial, sans-serif;
}

.app-container {
    display: flex;
    letter-spacing: -0.025em;
    min-height: 100vh;
}

.header {
    background: #fff;
    color: $colourFive;
    width: 300px;
    height: 100%;
    min-height: 100vh;
    padding: 2rem 2.5rem;
    nav {
        padding: 1rem;
        ul {
            list-style: none;
            li {
                margin-top: 1rem;
                text-transform: uppercase;
                font-weight: bold;
                list-style: none;
            }
        }
    }
}

.header ul {
    list-style: none;
}

.header ul li {
    margin-top: 0.5rem;
}

.controls-bar {
    position: absolute;
    top: 2px;
    right: 20px;
    color: #001386;
}

.controls-bar ul li {
    margin: 1.5rem 25px 0;
    font-size: 1rem;
    font-weight: bold;
}

.controls-bar ul li i {
    margin-right: 5px;
    float: none;
}

.controls-bar ul li .btn {
    color: #001386;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0;
}

.controls-bar ul li .location {
    position: relative;
    padding-right: 20px;
}

.controls-bar ul li .location:hover:after {
    font-family: FontAwesome;
    content: '\f107';
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 2px;
}


/* Buttons */

.btn {
    background: transparent;
    border: 0;
    margin-top: 1.25rem;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Proxima Nova Rg', helvetica, arial, sans-serif;
}

.btn-option {
    background: #001386;
    padding: 0.675rem 1rem 0.5rem;
    color: #fff;
    border-radius: 4px;
    display: block;
    min-width: 135px;
    text-align: left;
    transition: all .15s ease;
}

.btn-option:hover {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    transform: translateY(-1px);
    background: #4841cc;
}

.btn-cancel {
    background: #AD2E49;
    display: block;
    color: #fff;
    padding: 0.675rem 1rem 0.5rem;
    border-radius: 4px;
    min-width: 135px;
    text-align: left;
}

.btn-navigation {
    color: #4DCDFD;
    font-size: 1rem;
    font-weight: 700;
}

.btn.btn-navigation i {
    margin: 0 0 0 10px;
}

.btn i {
    float: right;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    color: #001386;
}

.add-photo {
    padding: 2rem;
}

.add-photo .btn-option {
    width: 360px;
    font-size: 1.25rem;
    padding: 1.125rem 2rem 1rem;
}

.app-content {
    padding: 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 1 0 60vw;
    display: flex;
    flex-wrap: wrap;
    section {
        width: 100%;
        height: 100%;
        min-height: 800px;
        min-width: 80vw;
        margin: auto;
    }
}

.app-content ul {
    display: flex;
    list-style: none;
}

.profile {
    display: inline-block;
    text-align: left;
    box-shadow: 1px 3px 10px #efefef;
    background: $colourOne;
    margin: 1.25rem;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    line-height: 1.5;
    picture {
        position: relative;
        height: 250px;
        display: block;
        overflow: hidden;
        img {
            width: 260px;
        }
    }
}

.profile-info-wrap {
    padding: 0.5em 1em;
}

.profile-info {
    display: block;
}

.profile-card {
    background: #fff;
    border-radius: 3px;
    padding: 1.5rem;
    text-align: left;
    margin: 25px;
}

.profile-card__name,
.profile-card__title,
.profile-card__email,
.profile-card__team {
    display: block;
    margin-top: 0.5rem;
}

.profile-card__photo {
    position: relative;
    width: 100%;
    height: 250px;
    display: block;
}

.change-photo-icon {
    display: none;
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
}

.profile-card__photo:hover .change-photo-icon {
    display: block;
    cursor: pointer;
}


/* Modal */

.modal-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    position: absolute;
    padding: 2.5rem 2.5rem 1rem 1rem;
    display: block;
    z-index: 100;
}

.modal-title {
    text-align: left;
    margin-bottom: 2.5rem;
    color: #001386;
}

.modal-close-btn {
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
    margin-top: 0;
    cursor: pointer;
    transition: 0.15s ease-out;
    font-size: 1.5rem;
    background: none;
}

.modal-close-btn:hover {
    transform: scale(1.2);
}

.modal-close-btn:active {
    border: 0;
    outline: 0;
}

.modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #212431;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.add-photo {
    padding: 0 2rem 2rem 2rem;
}

.take-photo {
    min-width: 840px;
    position: relative;
    display: flex;
}

.take-photo__controls {
    flex: 1 0 200px;
    padding: 0 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

canvas {
    background: #ebedf6;
    position: relative;
}

.canvas-wrap {
    position: relative;
}

.canvas-wrap .error {
    color: #212431;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.player {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}