@font-face {
    font-family: 'Inter-UI-Black';
    src: url('assets/fonts/Inter-UI-Black.WOFF') format('woff'), url('assets/fonts/Inter-UI-Black.WOFF') format('woff'), url('assets/fonts/Inter-UI-Black.ttf') format('ttf'), url('assets/fonts/Inter-UI-Black.eot') format('woff'), url('assets/fonts/Inter-UI-Black.svg') format('svg'),
}
@font-face {
    font-family: 'Inter UI Medium';
    src: url('assets/fonts/Inter-UI-Medium.WOFF') format('woff'), url('assets/fonts/Inter-UI-Medium.WOFF') format('woff'), url('assets/fonts/Inter-UI-Medium.ttf') format('ttf'), url('assets/fonts/Inter-UI-Medium.eot') format('woff'), url('assets/fonts/Inter-UI-Medium.svg') format('svg'),
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#vue-app {
    max-width: 100vw;
}
.app-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Inter UI Medium', helvetica;
    letter-spacing: -0.025em;
}
.main-header {
    background: #f5f7f8;
    color: #2C2827;
    width: 200px;
    height: 100%;
    min-height: 100vh;
}
.main-header nav {
    padding: 1rem;
}
.main-header nav ul {
    list-style: none;
}
.main-header nav ul li {
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.logo {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}
.content-area {
    background: #89B8CE;
    padding: 1em;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.content-area section {
    width: 100%;
    height: 100%;
    min-height: 800px;
    min-width: 80vw;
    margin: auto;
}
.profile {
    display: inline-block;
    text-align: left;
    box-shadow: 1px 3px 10px #efefef;
    background: #f5f7f8;
    margin: 1.25rem;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    line-height: 1.5;
}
.profile picture {
    position: relative;
    height: 250px;
    display: block;
    overflow: hidden;
}
.profile picture img {
    width: 260px;
}
.profile-info-wrap {
    padding: 0.5em 1em;
}
.profile-info {
    font-family: 'Inter-UI-Black';
    display: block;
}