@import 'inc/_variables';
@import 'inc/_typography';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#vue-app {
    max-width: 100vw;
}

.app-container {
    display: flex;
    font-family: 'Inter UI Medium', helvetica;
    letter-spacing: -0.025em;
}

.main-header {
    background: $colourOne;
    color: $colourFive;
    width: 200px;
    height: 100%;
    min-height: 100vh;
    nav {
        padding: 1rem;
        ul {
            list-style: none;
            li {
                margin-top: 1rem;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.content-area {
    background: $colourSix;
    padding: 1em;
    text-align: center;
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
    section {
        width: 100%;
        height: 100%;
        min-height: 800px;
        min-width: 80vw;
        margin: auto;
    }
}

.profile {
    display: inline-block;
    text-align: left;
    box-shadow: 1px 3px 10px #efefef;
    background: $colourOne;
    margin: 1.25rem;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    line-height: 1.5;
    picture {
        position: relative;
        height: 250px;
        display: block;
        overflow: hidden;
        img {
            width: 260px;
        }
    }
}

.profile-info-wrap {
    padding: 0.5em 1em;
}

.profile-info {
    font-family: 'Inter-UI-Black';
    display: block;
}