.login-container {
    margin-top: 200px;
    text-align: center;
}

.wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.btn.login-method {
    background: #001386;
    padding: 0.675rem 1rem 0.5rem;
    color: #fff;
    border-radius: 4px;
    display: block;
    min-width: 135px;
    text-align: left;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    margin: 1em auto;
}