.login-container {
    margin-top: 200px;
    text-align: center;
    background: #fff;
    border-radius: 8px;
}

.wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.login__title {
    padding: 1em;
    border-bottom: 1px solid #dcdee6;
    text-align: left;
    font-size: 1.5em;
}

.btn.login-method {
    background: #001386;
    padding: 0.675rem 1rem 0.5rem;
    color: #fff;
    display: block;
    min-width: 200px;
    text-align: left;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    margin: 1em auto;
    text-align: center;
}

.btn.btn-submit {
    margin-top: 2rem;
    float: right;
    background: #001386;
    color: #fff;
    padding: 0.675rem 1rem 0.5rem;
    min-width: 80px;
}

input {
    display: block;
    border: 1px solid #dcdee6;
    border-radius: 3px;
    padding: 3px 3px 0 13px;
    height: 2.5rem;
    font-size: 1.125rem;
}

input:focus {
    border: solid 1px #4841cc;
}

.input-label {
    display: block;
    text-align: left;
    margin-top: 1.5em;
    font-size: 1.125rem;
}

.login__email,
.login__password {
    margin-top: 1rem;
    width: 100%;
}

.login__form {
    padding: 0 2em 2em;
    overflow: hidden;
}