.login-container {
  margin-top: 200px;
  text-align: center;
  background: #fff;
  border-radius: 8px;
  width: 400px;
  max-width: 95%;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.login__title {
  padding: 1em;
  border-bottom: 1px solid #dcdee6;
  text-align: left;
  font-size: 1.5em;
  color: #001386;
}

.login__methods {
  padding: 2em;
}

.btn.login-method {
  padding: 0.675rem 1rem 0.5rem;
  color: #fff;
  display: block;
  min-width: 200px;
  text-align: left;
  margin: 1em auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn.fb-login {
  background: #3b5998;
}

.btn.tw-login {
  background: #1da1f2;
}

.btn.gh-login {
  background: #333;
}

.btn.login-method:hover,
.btn.btn-submit:hover {
  -webkit-box-shadow: 0 4px 10px rgba(50, 50, 93, 0.11), 0 3px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 10px rgba(50, 50, 93, 0.11), 0 3px 10px rgba(0, 0, 0, 0.05);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  background: #4841cc;
}

.btn.btn-submit {
  margin-top: 2rem;
  float: right;
  background: #001386;
  color: #fff;
  padding: 0.675rem 1rem 0.5rem;
  min-width: 80px;
}

input {
  display: block;
  border: 1px solid #dcdee6;
  border-radius: 3px;
  padding: 3px 3px 0 13px;
  height: 2rem;
  font-size: 1rem;
}

input:focus {
  border: solid 1px #4841cc;
}

input.invalid {
  border: solid 1px #f2545b;
}

.input-label {
  display: block;
  text-align: left;
  margin-top: 1.5em;
  font-size: 1rem;
}

.input-label:first-of-type {
  margin-top: 0;
}

.login__email,
.login__password {
  margin-top: 0.75rem;
  width: 100%;
}

.login__form {
  padding: 0 2em 2em;
  overflow: hidden;
}

.password-error,
.email-error {
  visibility: hidden;
  text-align: left;
  margin-top: 0.5em;
}

.password-error.show,
.email-error.show {
  visibility: visible;
  color: #f2545b;
}

.login__signup-link {
  padding: 1em;
}
